<div class="banner">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img class="banner_img" src="assets/images/banner3.jpg" alt="Banner Images">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img class="banner_img" src="assets/images/banner4.jpg" alt="Banner Images">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img class="banner_img" src="assets/images/banner5.jpg" alt="Banner Images">
      </div>
    </ng-template>
  </owl-carousel-o>
  <h1 class="banner_header">Let's<br> spin.</h1>
  <h2 class="banner_second-header">Pole<br> Dance<br> Hedera</h2>
  <i class="fa fa-facebook-f" aria-hidden="true"></i>
  <i class="fa fa-instagram" aria-hidden="true"></i>
</div>
